body{
    margin: 0;
    
}
h1{ 
    
    font-size: 7rem;
    color: #ee0e0e;
    margin-bottom: 3rem;
}
p{
    color: #fbf3f3;
    margin-bottom: 0rem;
    font-size: 2rem;
    line-height: 2rem;
}
a{
    font-size: 5rem;
    color: #fbf3f3;
    text-decoration: dotted;
    transition: all ease-in 0.3s;


}
a:hover{
    color: #b4e21e;
    text-decoration: none;
    cursor: pointer;
}